*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    vertical-align: top;
    font-weight: normal;
}
body{
    background-color:  rgb(98, 191, 245);
}
header{
    background-color: rgb(54, 53, 53);
    padding: 5px 10px;
    margin-bottom: 20px;
}


h1{
    color: rgb(98, 191, 245);
    font-weight: normal;
}
h1 span{
    color: whitesmoke;
    font-weight: lighter;
}

img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: solid 30px silver;
}

main{
    width:50%;
    display: inline-block;
    background-color: whitesmoke;
    border-radius: 10px;
    padding-bottom: 20px;
}
h2{
    background-color: rgb(54, 53, 53);
    color: whitesmoke;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}
#hero{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}
.about{
    text-align: center;
}
.about p{
    padding: 10px 50px;
}
#content{
    display: flex;
    justify-content: space-around;

}

aside{
    width: 35%;
    display: inline-block;
    background-color: whitesmoke;
    border-radius: 10px;
    height: 600px;
    
}
#matches{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 500px;
    overflow-y: scroll;

}

.match{
    background-color: whitesmoke;
    width: 150px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    background-color: rgb(54, 53, 53);
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 10px;
    height: 185px;

}
.match img{
    width: 150px;
    height: 150px;
    border:solid 10px silver;
}
.match > h4{
    padding: 5px;
}

table{
    width: 45%;
    margin: 0 auto;
    border-collapse: collapse;
}

thead{
    background-color: rgb(54, 53, 53);
    color: whitesmoke;
}
th,td{
    padding: 5px;
    border: 1px solid black;
}
footer{
    background-color: rgb(54, 53, 53);
    margin-top: 50px;
    padding: 20px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=search]{
    margin: 0 10px;
    border-radius: 5px;
    padding: 7px;
}
