*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    vertical-align: top;
    font-weight: normal;
}
body{
    background-color:  rgb(98, 191, 245);
}
header{
    background-color: rgb(54, 53, 53);
    padding: 5px 10px;
    margin-bottom: 20px;
}


h1{
    color: rgb(98, 191, 245);
    font-weight: normal;
}
h1 span{
    color: whitesmoke;
    font-weight: lighter;
}

img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: solid 30px silver;
}

main{
    width:50%;
    display: inline-block;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
}
#hero{
    display: flex;
    justify-content: space-around;
}
#hero h2{
    font-size: xx-large;
}
aside{
    width: 35%;
    display: inline-block;
}
.match{
    background-color: whitesmoke;
    width: 60%;
}
.match img{
    width: 150px;
    height: 150px;
    border:solid 10px silver;
}